build/asset-manifest.json
build/auth.war
build/index.html
build/manifest.json
build/report.war
build/static/css/main.be81464f.css
build/static/css/main.f355281a.css
build/static/js/main.23ce249e.js
build/static/js/main.23ce249e.js.LICENSE.txt
build/static/js/main.c379510b.js
build/static/js/main.c379510b.js.LICENSE.txt
build/static/media/fa-brands-400.7b7d0ddbcc46b8bdd494.svg
build/static/media/fa-brands-400.216edb96b562c79adc09.svg
build/static/media/fa-regular-400.19e27d348fefc21941e0.svg
build/static/media/fa-regular-400.ac3d16eb330a74f2279a.svg
build/static/media/fa-solid-900.3fbf3c2553ba03410a4f.svg
build/static/media/fa-solid-900.13de59f1a36b6cb4bca0.svg
build/static/media/github.6c95555646a0ecabf549179c97bf0e7d.svg
build/static/media/github.f7165d3e2844ef758a22c6829f494e71.svg
build/static/media/google.952443d790ba00a03a5e2b10397d3acd.svg
build/static/media/google.eae9aa9354350126d1b032847835a051.svg
build/static/media/nucleo-icons.01ebecaf50461162d4bc.svg
build/static/media/nucleo-icons.95fa360c1c73431a0f9a.svg
